<a href="<%=new_twitter_name_path%>"><button><h1>Find tweets for a new @username</h1></button></a>
<hr>
<h3>Or look at tweets for an existing @username:</h3>
<% @twitternames.each do |tn| %>
  <table>
    <tr>
      <td><a href="<%= twitter_name_path(tn.id)%>"><%= tn.username %></a></td>
      <td><%= tn.twitter_name_id %></td>
      <td><%= tn.tweets_collected %></td>
    </tr>
  </table>
<% end %>