<!----><%bookmark_file = File.new("public/bookmarks.html", "w")%>
<a href="/bookmarks.html" class="pull-right table-actions">Export these bookmarks</a>
<table class="table table-hover table-bordered table-condensed">
      <!-- the last tweet domain variable helps create the merged domain cells -->
<!----><% @last_tweet_domain = "" %>
  <tr class="row row-header">
    <th class="col-md-1">Domain</th>
    <th class="col-md-1"># links</th>
    <th class="col-md-2">URL</th>
    <th class="col-md-3">Title</th>
    <th class="col-md-1">Author</th>
    <th class="col-md-1">Written</th>
    <th class="col-md-1">Tweeted</th>
    <th class="col-md-1">Type</th>
    <th class="col-md-1">Tweet Author</th>
  </tr>
<!----><% @data.each do |tweet, user_name_and_links_array| %>
  <tr class="row">
<!----><% if @last_tweet_domain != tweet.domain %>
    <td class="col-md-1" rowspan="<%= @domain_counts[tweet.domain] %>"><a href="<%= tweet.domain %>"><%= tweet.domain %></a></td>    
    <td class="col-md-1" rowspan="<%= @domain_counts[tweet.domain] %>"><%= @domain_counts[tweet.domain] %></td>
<!----><% end %>
    <td class="col-md-2"><a href="<%= tweet.url %>"style="word-wrap: break-word"><%= tweet.url.truncate(50) %></a></td>
    <td class="col-md-3"><%= user_name_and_links_array[1][0] ? user_name_and_links_array[1][0].title : "" %></td>
    <td class="col-md-1"><%= user_name_and_links_array[1][0] ? user_name_and_links_array[1][0].author : "" %></td>
    <td class="col-md-1"><%= user_name_and_links_array[1][0] ? user_name_and_links_array[1][0].authored_date : "" %></td>
    <td class="col-md-1"><%= tweet.tweet_date.strftime("%m/%d/%Y") %></td>
    <td class="col-md-1"><%= user_name_and_links_array[1][0] ? user_name_and_links_array[1][0].kind_of_url : "" %></td>
    <td class="col-md-1"><%= user_name_and_links_array[0] ? user_name_and_links_array[0].username : "" %></td>
  </tr>
<!----><% @last_tweet_domain = tweet.domain %>
  <!----><%if user_name_and_links_array[1][0]%>
  <!----><%bookmark_file.puts("<a href=#{tweet.url}>#{user_name_and_links_array[1][0].title}</a>")%>
  <!----><%else%>
  <!----><%bookmark_file.puts("<a href=#{tweet.domain}></a>")%>
  <!----><%end%>

<!----><% end %>
<!----><%bookmark_file.close%>

</table>
